.home_content{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 7rem;
    column-gap: 2rem;
    align-items: center;
    height: 65vh;
}

.home_social-icon:hover{
    color: var(--title-color-dark);
}

.home_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}


.home_description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home_img{
    background: url(../../assets/home_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
    justify-self: right;
    width: 600px;
    height: 400px;
}


@media screen and (max-width: 992px) {
    .home_content{
      grid-template-columns:repeat(2, 1fr);
      column-gap: 1.25rem;
    }

    .home_description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home_img{
        width: 450px;
        height: 300px;
    }

  }
  
  @media screen and (max-width: 768px) {
    .home_content{
        grid-template-columns: 0.5fr 3fr;
        height: 85vh;
    }

    .home_img{
       order: initial;
    }

    .home_data{
        grid-column: 1/3;
    }

    .home_img{
        width: 400px;
        height: 300px;
    }
  }

  @media screen and (max-width: 676px) {
    .home_img{
     width: 350px;
     height: 250px;
    }
 
    .home_title{
     font-size: 2rem;
     }
   }
  
  @media screen and (max-width: 350px) {
   .home_img{
    width: 200px;
    height: 200px;
   }

   .home_title{
    margin-top: 4rem;
    }
  }